@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  color: #222;
  vertical-align: top;
}

/*layout*/

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.header {
  height: 50px;
  padding-top: 45px;
}

.mainslide {
  overflow: hidden;
  position: relative;
  height: 350px;
}

.contents {
  padding-top: 30px;
  height: 345px;
}

.footer {
  padding-top: 30px;
  height: 120px;
}


h1 {
  float: left;
}

.menu_depth1 {
  float: right;
}

.menu_depth1 a {
  text-align: center;
  display: block;
  width: 200px;
  height: 30px;
}

.menu_depth1 > li {
  position: relative;
  float: left;
}

.menu_depth2 {
  background: rgba(255, 255, 255, .7);
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 200;
}

.mainslide ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 3000px;
}

.mainslide li {
  position: relative;
  width: 1000px;
  float: left;
}

.mainslide .slide_txt {
  position: absolute;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  top: 110px;
  left: 200px;
}

.mainslide strong {
  color: #ffffff;
  font-size: 40px;
}

.mainslide a {
  display: inline-block;
  color: #ffdc00;
  margin-top: 20px;
  padding: 5px;
  font-size: 20px;
}

.contents h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.col1 {
  float: left;
  width: 500px;
}

.col1 li {
  margin-bottom: 10px;
}

.col1 span {
  font-size: 12px;
  float: right;
  font-size: 12px;
}


.col2 {
  margin: 0 50px;
  float: left;
  width: 150px;
}

.col2 a {
  display: block;
}


.col2 li img {
  vertical-align: middle;
  margin: 0 10px 10px 0;
  width: 60px;

}


.col3 {
  float: left;
  width: 250px;

}


.footer {
  background: #eee;
  text-align: center;
}


.footer address {
  padding-top: 20px;
  font-style: normal;
  font-size: 12px;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
}

#modal button {
  background: #eee;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#modal.on {
  display: block;
}
