/* reset */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0
}

fieldset,
img {
  border: 0 none
}

dl,
ul,
ol,
menu,
li {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

input,
select,
textarea,
button {
  vertical-align: middle
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer
}

body {
  background: #fff
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Noto Sans', '맑은고딕', 'Malgun Gothic', '돋움', dotum, sans-serif;
  color: #333
}

/* color값은 디자인가이드에 맞게사용 */

a {
  color: #333;
  text-decoration: none
}

a:active,
a:hover {
  text-decoration: none
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal
}

/* global */

#daumIndex {
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 0;
  height: 1px;
  margin: 0;
  padding: 0
}

/* 스킵네비게이션 */

.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */

.blind {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */

/*.header .swiper-containe .content{
  width: 966px;
  margin: 0 auto;
}*/

.wrap {
  width: 100%;
  margin: 0 auto;
}

.header,
.swiper-container,
.content {
  width: 966px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
}

.header h1 {
  width: 165px;
  margin: 0 auto;
}

.main_img {
  position: relative;
  margin: 30px auto;
  text-align: center;
}

.main_img img {
  width: 100%;
}

.main_img .img_logo {
  position: absolute;
  top: 488px;
  left: 400px;
  width: 165px;
  height: 30px;
  text-align: center;
}

.header img {
  vertical-align: middle;
}

.header .menu_depth1 ul {
  margin-top: 60px;
  display: block;
  transition: all 0.5s;
}

.header .menu_depth1 li a {
  /* font-family: Serif;*/
  text-align: center;
  float: right;
  font-size: 16px;
  font-weight: bold;
  margin-right: 120px;
}

.header li a:hover {
  border-bottom: 2px solid #111
}

/* swiper style */

.swiper-container img {
  margin: 80px auto;
  /*  width: 100%;*/
}

.swiper-slide {
  text-align: center;
}

/*.section_effect img{
  width: 966px;
}*/

.section_area {
  margin-top: 150px;
  font-family: Serif;
  font-weight: bold;
  /*font-family: Monospace;*/
  font-size: 25px;
  display: block;
  text-align: center;
}

.section_product {
  margin-top: 150px;
}


.list_product {
  width: 560px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.list_product li {
  float: left;
  padding-bottom: 0;
}

.go_brand {
  margin-right: 10px;
}

.go_brand img {
  width: 300px;
  height: 310px;
}

.go_menu img {
  width: 250px;
  height: 150px;
}

.go_store {
  position: absolute;
  top: 160px;
  left: 310px;
}

.go_store img {
  width: 250px;
  height: 150px;
}

/*service*/

.section_go {
  position: relative;
  width: 100%;
  text-align: center;

}

.list_go {
  /*/ position: relative;*/
  margin-top: 150px;
  overflow: hidden;
  padding: 20px 0;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}

.tit_go {
  position: absolute;
  top: -26px;
  left: 428px;
  padding: 10px;
  background: white;
}

.list_go li {
  display: inline-block;

}

.section_go a {
  margin: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  font-weight: bold;
  line-height: 35px;
}

/*//service*/

.footer_wrap {
  border-top: 1px #999;
}

/*마늘소개*/

.section_effect {
  margin-top: 150px;
  text-align: center;
}

.garlic_img img {
  width: 80%;
}

/*//마늘소개*/

/*footer*/

.footer_wrap {
  width: 100%;
}


.footer {
  margin-top: 70px;
  padding: 50px 0;
  background: #222;
  text-align: center;
}

.footer address {
  margin: 10px 0;
  font-style: normal;
  color: #fff;

}

.footer span {
  display: inline-block;
  margin-top: 3px;
  font-size: 10px;
  color: #fff;
}

.sns ul {
  padding-top: 20px;
  width: 80px;
  display: block;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.sns li {
  margin-right: 20px;
}

.foot_menu {
  padding-bottom: 20px;
}

.footer a {
  color: #fff;
}
